h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.2rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.5rem; 
    color: #333;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

section {
    margin-bottom: 1.25rem;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

footer ul li {
    margin-right: 1.25rem;
}

footer a {
    text-decoration: none;
    text-decoration: underline;
    color: #fff;
}
